<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator</title>
</head>
<body>
  <form action="/calculator" method="POST">
    <input type="text" name="months">
    <input type="text" name="monthly_fee">
    <button type="submit"></button>
  </form>
</body>
</html>